/* Dark theme */
body {
  background-color: #1a1a1a; /* Dark background color */
  color: #ffffff; /* Light text color */
}

/* 중앙 정렬을 위한 컨테이너 */
.centered-content {
  text-align: center;
  margin-top: 50px; /* 위쪽 여백 추가 */
}

/* 모든 입력 필드 및 드롭다운 메뉴 */
.input-field,
select {
  width: calc(75%); /* 입력 필드 및 드롭다운 메뉴 너비 조정 */
  margin-bottom: 15px; /* 각 입력 필드 밑 간격 조정 */
  padding: 15px; /* 패딩 크기 조정 */
  border: 2px solid transparent; /* 테두리 두께 설정 및 투명색으로 초기화 */
  border-radius: 15px; /* 테두리를 둥글게 조정 */
  background-color: #333333; /* 배경색 설정 (Dark Gray) */
  color: #767676; /* 텍스트 색상 설정 */
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; /* Sans-serif 폰트 설정 */
  font-size: 16px; /* 폰트 크기 조정 */
}

/*Confirm 버튼 */
.submit-btn {
  width: calc(75%); /* 버튼 너비 조정 */
  margin-bottom: 0; /* Confirm 버튼의 밑 간격 제거 */
  padding: 15px; /* 패딩 크기 조정 */
  background-color: #8b0000; /* 배경색 설정 (Darker Blood Red) */
  color: #ffffff; /* 텍스트 색상 설정 */
  border: 2px solid transparent; /* 테두리 두께 설정 및 투명색으로 초기화 */
  border-radius: 30px; /* 버튼 모서리를 둥글게 조정 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  font-family: 'Arial', sans-serif; /* Sans-serif 폰트 설정 */
  font-size: 18px; /* 폰트 크기 조정 */
  transition: background-color 0.3s; /* 배경색 변경 시 부드러운 전환 적용 */
}

/* Confirm 버튼 호버 시 배경색 변경 */
.submit-btn:hover {
  background-color: #a30000; /* 마우스 호버 시 배경색 변경 (Even Darker Blood Red) */
}

/* 필수 입력 필드가 누락된 경우 빨간색 테두리 설정 */
.required-field:invalid {
  border-color: #8b0000; /* Blood Red */
}

/* 비활성화된 입력 필드 및 드롭다운 메뉴 */
.input-field:disabled,
select:disabled {
  opacity: 0.2; /* 비활성화된 요소의 투명도 조정 */
}
